<header data-controller="togglemenu">

    <nav class="navbar">

        <div>
          <%= link_to root_path do %>
            <%= image_tag "caro.jpg", class: "reveal transformY" %>
          <% end %>
        </div>

        <div class="nav-links" data-togglemenu-target="links">
          <ul class="d-flex">
            <li><%= link_to "Qui suis-je ?", {anchor: "profil"}, class: "link-nav reveal-2 transformY" %></li>
            <li><%= link_to "Expériences", {anchor: "experiences"}, class:"margin-left link-nav reveal-3 transformY" %></li>
            <li><%= link_to "Compétences", {anchor: "competences"}, class:"margin-left link-nav reveal-4 transformY" %></li>
            <li><%= link_to "Projets", {anchor: "projets"}, class:"margin-left link-nav reveal-5 transformY" %></li>
            <li><%= link_to "Contact", {anchor: "contact"}, class:"margin-left link-nav reveal-6 transformY" %></li>
            <li><%= link_to "CV", download_pdf_path, class:"margin-left cv hover reveal-8 transformY" %></li>
          </ul>
        </div>

        <i class="fa-solid fa-bars menu-hamburger reveal transformY" style="color: #3dcab1;" data-action="click->togglemenu#toggle"></i>

    </nav>

</header>
