<div class="container-section padding-70 height-100vh">

  <%= simple_form_for @message do |f| %>

    <div>
      <%= f.input :first_name, placeholder: 'Prénom', label: false %>
      <%= f.input :last_name, placeholder: 'Nom', label: false %>
    </div>
    <%= f.input :email, placeholder: 'Email', label: false %>
    <%= f.input :object, placeholder: 'Objet', label: false %>
    <%= f.input :phone_number, placeholder: 'Téléphone', label: false  %>
    <%= f.input :message, placeholder: 'Message', label: false  %>
    <%= f.button :submit %>
  <% end %>

</div>
