<div class="container-section padding-70">

  <h2 class="mb-5 text-center">On se contact ?</h2>

  <%= simple_form_for @message do |f| %>
    <div class="grip-form">
      <%= f.input :first_name, label: 'Prénom' %>
      <%= f.input :last_name, label: 'Nom' %>
    </div>
    <div class="grip-form" id="contact">
      <%= f.input :email, label: 'Email' %>
      <%= f.input :phone_number, label: 'Téléphone'  %>
    </div>
    <%= f.input :message, label: 'Message'  %>
    <div class="display-flex justify-content-center">
      <%= f.button :submit,"Envoyer", class: "border-none mt-4 mb-5" %>
    </div>
  <% end %>

  <div class="display-flex align-item-center mt-3 flex-column">
    <div>
      <a href="https://github.com/carolinhng"><i class="fa-brands fa-github icone-style"></i></a>
      <a href=""><i class="fa-brands fa-linkedin-in icone-style"></i></a>
    </div>
    <%= mail_to "caroline.ng.pro@hotmail.com", class: "mail-to-style mt-3" %>
  </div>
    <p class="text-center mt-5 font-size-12">© Copyright 2024 - Caroline NGUYEN.<br>Tous droits réservés.</p>


</div>
<div class="barre width-950"></div>
