<div class="background-white">
  <div class="container-section padding-70 color-black">

    <h2 class="mb-5">Mes expériences</h2>
    <div class="dis-flex" id="experiences" data-controller="expechange">

      <div class="border-left dis-flex-column">

        <% @experiences.each do |experience| %>

          <div class="click-on"
               data-expechange-id-value= "<% experience.id %>">

            <h4><%= experience.company.upcase %></h4>

          </div>

        <% end %>

      </div>

      <% @experiences.limit(1).each do |experience| %>
        <div>
          <h3 class="mb-3 bold color-blue"><%= experience.post.upcase %></h3>
            <h5 class="mb-3 color-bluegreen"><%= experience.start_date %> - <%= experience.end_date %></h5>
              <ul class="list">
                <% experience.missions.each do |mission| %>

                  <div class="display-flex align-item-center"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i><li class="ps-2"><%= mission.mission %></li></div>

                <% end %>
              </ul>
        </div>
      <% end %>


    </div>

  </div>
</div>
