<div class="background-white">
  <div class="container-section padding-90 color-black">

    <div class="mb-5 pos-relative transformY reveal">
      <h2 class="mb-5 pos-relative z-index-2">Mes expériences</h2>
      <div class="barre-title z-index-1 size-barre position-barre-titre left-e width-e"></div>
    </div>

    <div class="dis-flex transformY reveal-2"
         id="experiences"
         data-controller="expechange"
         data-expechange-default-tab-value="<%=@experiences.first.id%>">

      <div class="dis-flex-column scrolling-container-x">
        <% @experiences.each do |experience| %>

              <div class="click-off border-left"
                   id="<%=experience.id%>"
                   data-expechange-target="tabs"
                   data-action="click->expechange#select">
                  <h4><%= experience.company.capitalize %></h4>
              </div>

        <% end %>
      </div>


      <% @experiences.each do |experience| %>
        <div id="<%=experience.id%>" data-expechange-target="panels" class="transformY reveal-3">
          <h3 class="mb-3 bold color-blue"><%= experience.post.capitalize %></h3>
            <h5 class="mb-3 color-bluegreen"><%= experience.start_date.strftime('%B %Y') %> - <%= experience.end_date.strftime('%B %Y') %></h5>
              <ul class="list">
                <% experience.missions.each do |mission| %>

                  <div class="display-flex align-item-start mb-3">
                    <i class="fa-solid fa-caret-right" style="color: #3dcab1;"></i>
                    <li class="ps-3 margin-top-5-neg"><%= mission.mission %></li>
                  </div>

                <% end %>
              </ul>
        </div>
      <% end %>


    </div>

  </div>

  <div class="barre width-350 transform-l reveal-4"></div>

</div>
