<div class="background-white">
  <div class="container-section padding-70 color-black" id="projets">

  <div class="display-flex justify-content-center">
    <div class="mb-5 pos-relative">
      <h2 class="pos-relative z-index-2 color-black">Mes projets</h2>
      <div class="barre-title z-index-1 size-barre position-barre-titre width-p left-p"></div>
    </div>
  </div>

    <% @projects.each do |project| %>

      <div class="display-flex align-item-center">

      <%# image %>

        <div class="img-project">
          <%= image_tag  "remadesyn.png"%>
          <div class="filter">

          <%# visible en dessous de width: 800px %>
          <div class="display-flex flex-column size-100-pourcent padding justify-content-center none">
            <h3 class="bold color-bluegreen"><%= project.name %></h3>
              <p class="color-white"><%= project.description %></p>
            <div class="display-flex flex-wrap-wrap mb-3">
              <% project.project_technos.each do |techno| %>
                  <p class="pastille font-size-12 hover mb-2"><%= techno.techno.techno %></p>
              <% end %>
            </div>
            <div class="display-flex mt-2-neg">
              <a href="<%= project.github_link %>" target="_blank"><i class="fa-brands fa-github icone-size"></i></a>
              <a href="<%= project.url_link %>" target="_blank"><i class="fa-solid fa-square-arrow-up-right icone-size"></i></a>
            </div>
          </div>
          </div>
        </div>

      <%# visible au dessus de width 800px %>
      <%# block_right %>
        <div class="display-flex flex-column justify-content-center align-item-end absolute mobile-none">
          <h3 class="bold color-bluegreen"><%= project.name %></h3>
            <div class="rect-bleu">
              <p><%= project.description %></p>
            </div>
          <div class="display-flex flex-wrap-wrap justify-content-flex-end mb-3">
            <% project.project_technos.each do |techno| %>
                <p class="pastille font-size-12 hover mb-2"><%= techno.techno.techno %></p>
            <% end %>
          </div>
          <div class="display-flex mt-2-neg">
            <a href="<%= project.github_link %>" target="_blank"><i class="fa-brands fa-github icone-size"></i></a>
            <a href="<%= project.url_link %>" target="_blank"><i class="fa-solid fa-square-arrow-up-right icone-size"></i></a>
          </div>
        </div>

      </div>

    <% end %>

  </div>

  <div class="barre width-350"></div>

</div>
