<div class="container-section padding-70">
  <h2 class="mb-5 text-center">Mes compétences</h2>

  <div class="grid-card logo gap-50">

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "html.png", class: "img-wid-60" %>
    <h3 class="mt-3">HTML5</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "css.png", class: "img-wid-60"%>
    <h3 class="mt-3">CSS3</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "bootstrap.png", class: "img-hei-60 margin-bot-20"%>
    <h3 class="mt-3">Bootstrap</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "js.png", class: "img-wid-60"%>
    <h3 class="mt-3">Javascript</h3>
  </div>

  <div class="display-flex align-item-center flex-column" id="competences">
    <%= image_tag "stimulus.png", class: "img-hei-60"%>
    <h3 class="mt-3">StimulusJS</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "ruby.png", class: "img-hei-60"%>
    <h3 class="mt-3">Ruby On Rails</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "Postgresql.png", class: "img-hei-60"%>
    <h3 class="mt-3">PostgreSQL</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "heroku.png", class: "img-hei-60"%>
    <h3 class="mt-3">Heroku</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "git.png", class: "img-hei-60"%>
    <h3 class="mt-3">Git</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "github.png", class: "img-hei-60"%>
    <h3 class="mt-3">Github</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "wordpress.png", class: "img-hei-60"%>
    <h3 class="mt-3">Wordpress</h3>
  </div>

  <div class="display-flex align-item-center flex-column">
    <%= image_tag "woocommerce.png", class: "img-hei-60"%>
    <h3 class="mt-3">Woocommerce</h3>
  </div>




  </div>

</div>

<div class="barre width-350"></div>
