<div class="container-section padding-70">

  <div class="mb-5 pos-relative">
    <h2 class="text-center padding-bot-70 mb-5 pos-relative z-index-2">Mes compétences</h2>
    <div class="barre-title z-index-1 size-barre-22-245 position-barre-titre-20-485"></div>
  </div>

  <div class="display-flex justify-space-between display-block">

    <div>
      <ul class="list">
        <div class="display-flex align-item-center mb-3">
          <i class="fa-solid fa-caret-right" style="color: #3dcab1;"></i>
          <li class="ps-3">Bases en algorithmique et en programmation.</li>
        </div>

        <div class="display-flex align-item-center mb-3">
          <i class="fa-solid fa-caret-right" style="color: #3dcab1;"></i>
          <li class="ps-3">Réalisation de projets en équipe.</li>
        </div>

        <div class="display-flex align-item-center mb-3">
          <i class="fa-solid fa-caret-right" style="color: #3dcab1;"></i>
          <li class="ps-3">Programmation orientée objet.</li>
        </div>

        <div class="display-flex align-item-center mb-3">
          <i class="fa-solid fa-caret-right" style="color: #3dcab1;"></i>
          <li class="ps-3">Conception d’une base de données relationnelle.</li>
        </div>

        <div class="display-flex align-item-center mb-3">
          <i class="fa-solid fa-caret-right" style="color: #3dcab1;"></i>
          <li class="ps-3">Extraction de données via APIs.</li>
        </div>

        <div class="display-flex align-item-center mb-3">
          <i class="fa-solid fa-caret-right" style="color: #3dcab1;"></i>
          <li class="ps-3">Coder et déployer une application en production.</li>
        </div>

        <div class="display-flex align-item-center mb-3 padding-bot-30">
          <i class="fa-solid fa-caret-right" style="color: #3dcab1;"></i>
          <li class="ps-3">Utilisation du design patterns MVC.</li>
        </div>
      </ul>
    </div>

    <div class="width-45-pourcent">
      <h4 class="text-align-mobile">Les technologies avec lesquelles j’ai travaillé :</h4>

      <div class="display-flex flex-wrap-wrap mt-4">

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3 mt-3">
          <%= image_tag "html.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px padding-left-5px">HTML</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "css.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">CSS</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "bootstrap.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">Bootstrap</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "js.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">Javascript</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "stimulus.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">StimulusJS</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "ruby.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">Ruby On Rails</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "Postgresql.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">PostgreSQL</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "heroku.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">Heroku</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "git.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">Git</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "github.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">Github</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "wordpress.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">Wordpress</p>
        </div>

        <div class="pastille hover display-flex align-item-center gap-3-t mt-3">
          <%= image_tag "woocommerce.png", class: "img-size" %>
          <p class="font-size-14 padding-left-5px">Woocommerce</p>
        </div>

      </div>
    </div>


  </div>


</div>
<div class="barre width-350"></div>
