<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1><%= @message.first_name %> <%= @message.last_name %>vous a contacté sur votre site !</h1>
    <p>Telephone : <%= @message.phone_number %></p>
    <p>Email : <%= @message.email %></p>
    <p>Son message : <%= @message.message %></p>
  </body>
</html>
