<header>
  <div class="d-flex justify-content-end">
    <div class="barre"></div>
  </div>

    <nav class="navbar d-flex justify-content-between align-items-center">

        <div>
          <%= link_to root_path do %>
            <%= image_tag "carologo.png" %>
          <% end %>
        </div>

        <div>
          <%= link_to "Qui suis-je ?", {anchor: "profil"}, class: "link-nav" %>
          <%= link_to "Expériences", {anchor: "experiences"}, class:"margin-left link-nav" %>
          <%= link_to "Compétences", {anchor: "competences"}, class:"margin-left link-nav" %>
          <%= link_to "Projets", {anchor: "projets"}, class:"margin-left link-nav" %>
          <%= link_to "Contact", {anchor: "contact"}, class:"margin-left link-nav" %>
          <%= link_to "CV", download_pdf_path, class:"margin-left cv link-nav" %>
        </div>

    </nav>

</header>
