<!DOCTYPE html>
<html>
  <head>
    <title>Caroline Nguyen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('carologo.png') %>
  </head>

  <body>


<%# Devise %>
    <%= render "partials/alert" %>
    <%= yield %>
  </body>
</html>
